<h2 class="so-awesome" id="numero1"><i class="fi-address-book"></i>Bienvenidos todos</h2>
<div class="large-6 columns">
	<a href="#" data-reveal-id="firstModal" class="radius button">Presiona aqui para ver un chambre </a>
	<a href="#" data-reveal-id="videoModal" class="radius button">Video que te puede interesar</a>
</div>


<!-- Reveal Modals begin -->
<div id="firstModal" class="reveal-modal" data-reveal>
<h2>Jaja son pajas xD.</h2>
	<p>Eso compruebe que eres meque xD.</p>
	<p><a href="#" data-reveal-id="secondModal" class="secondary button">Mas info sobre esta pagina...</a></p>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="secondModal" class="reveal-modal" data-reveal>
	<h2>Jaja no hay nada que ver.</h2>
	<p>:D</p>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="videoModal" class="reveal-modal large" data-reveal>
	<h2>This modal has video</h2>
	<div class="flex-video">
		<iframe width="420" height="315" src="//www.youtube.com/embed/f67AF9hlI9M" frameborder="0" allowfullscreen></iframe>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>

    
<script>
$(document).foundation().foundation();
$(document).foundation({
  tooltips: {
    selector : '.has-tip',
    additional_inheritable_classes : [],
    tooltip_class : '.tooltip',
    touch_close_text: 'tap to close',
    disable_for_touch: false,
    tip_template : function (selector, content) {
      return '<span data-selector="' + selector + '" class="'
        + Foundation.libs.tooltips.settings.tooltipClass.substring(1)
        + '">' + content + '<span class="nub"></span></span>';
    }
  }
});
</script>